@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@model PageModel
@{
    ViewData["Title"] = "Registrierungsbestätigung";
}

<h1>Registrierung abgeschlossen</h1>
<p>Bitte prüfe dein Postfach und bestätige die E‑Mail-Adresse.</p>
